/* try to use chakra ui instead */
.viewItem{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.form{
    /* background-color: red; */
}
.form>div{
    /* background-color: yellow; */
    margin-top: 20px;
}
.form>button{
    /* background-color: aqua; */
    margin-top: 20px;
}
